<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1>Bem-vindo ao Catálogo de Discos</h1>
  <ul>
    <li><a href="/albuns">Gerenciar Álbuns</a></li>
    <li><a href="/artistas">Gerenciar Artistas</a></li>
    <li><a href="/generos">Gerenciar Gêneros</a></li>
  </ul>
</body>
</html>
